* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #16171a;
	font-family: PTSansNarrow;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
}

@font-face {
    font-family: PTSansNarrow;
    src: url("../fonts/PTSansNarrow.eot");
    src: url("../fonts/PTSansNarrow.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSansNarrow.woff") format("woff"),
    url("../fonts/PTSansNarrow.ttf") format("truetype"),
    url("../fonts/PTSansNarrow.svg#PTSansNarrow") format("svg");
}

@font-face {
    font-family: PTSansNarrowBold;
    src: url("../fonts/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold.ttf") format("truetype"),
    url("../fonts/PTSansNarrowBold.svg#PTSansNarrowBold") format("svg");
}

@font-face {
    font-family: OranienbaumRegular;
    src: url("../fonts/OranienbaumRegular.eot");
    src: url("../fonts/OranienbaumRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OranienbaumRegular.woff") format("woff"),
    url("../fonts/OranienbaumRegular.ttf") format("truetype"),
    url("../fonts/OranienbaumRegular.svg#OranienbaumRegular") format("svg");
}

@font-face {
    font-family: Raleway-Black; /* Гарнитура шрифта */
    src: url(../fonts/Raleway-Black.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Raleway-Regular; /* Гарнитура шрифта */
    src: url(../fonts/Raleway-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Raleway-SemiBold; /* Гарнитура шрифта */
    src: url(../fonts/Raleway-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Raleway-Bold; /* Гарнитура шрифта */
    src: url(../fonts/Raleway-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Raleway-Medium; /* Гарнитура шрифта */
    src: url(../fonts/Raleway-Medium.ttf); /* Путь к файлу со шрифтом */
}

a {
	-webkit-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	transition:all 0.3s ease;
	text-decoration: none;
	cursor: pointer;
}

::-webkit-input-placeholder { 
	color:#ffde00; 
	-webkit-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	transition:all 0.3s ease; 
}
:-moz-placeholder { 
	color:#ffde00; 
	-webkit-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	transition:all 0.3s ease; 
}
::-moz-placeholder { 
	color:#ffde00;  
	-webkit-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	transition:all 0.3s ease; 
}
:-ms-input-placeholder { 
	color:#ffde00; 
	-webkit-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	transition:all 0.3s ease; 
}

input:focus::-webkit-input-placeholder { 
	-webkit-transform:scale(0.9); 
	-moz-transform:scale(0.9); 
	-o-transform:scale(0.9); 
	transform:scale(0.9); 
	opacity:0; 
}
input:focus:-moz-placeholder { 
	-webkit-transform:scale(0.9); 
	-moz-transform:scale(0.9); 
	-o-transform:scale(0.9);
	transform:scale(0.9); 
	opacity:0; 
}
input:focus::-moz-placeholder { 
	-webkit-transform:scale(0.9); 
	-moz-transform:scale(0.9); 
	-o-transform:scale(0.9); 
	transform:scale(0.9); 
	opacity:0; 
}
input:focus:-ms-input-placeholder { 
	-webkit-transform:scale(0.9); 
	-moz-transform:scale(0.9); 
	-o-transform:scale(0.9); 
	transform:scale(0.9); 
	opacity:0;
}

input, select {
	border: none;
	outline: none;
}
/*========================================*/
/*========================================*/
/*========================================*/
#general {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#wrapper {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
	margin: 0 auto;
}

#inner {
	position: relative;
	display: table;
	width: 1200px;
	margin: 0 auto;
}
/*========================================*/
/*========================================*/
/*========================================*/
.nav {
	height: 100px;
	background: #16171a;
	z-index: 10;
}

.navi {
	position: relative;
	display: table;
	margin: 0;
	float: left;
	height: 100px;
}

.navi li {
	position: relative;
	display: inline-block;
	float: left;
}

.navi li a {
	position: relative;
	display: block;
	padding: 0 40px 0 17px;
	height: 100px;
}

.navi li a span {
	position: relative;
	display: block;
	color: #ffde00;
	font-size: 15px;
	font-family: PTSansNarrowBold;
	padding-top: 31px;
}

.navi li a p {
	position: relative;
	display: block;
	color: #fffce4;
	font-size: 13px;
	top: -1px;
}

.navi li a:hover {
	background: #ffffff0d;
}

.login {
	position: absolute;
	display: block;
	width: 177px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #0b0d0e;
	font-size: 14px;
	font-family: PTSansNarrowBold;
	background: #ffde00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	top: 0;
	left: 920px;
	bottom: 0;
	margin: auto;
}

.login:hover {
	background: #ff8100;
}

.lang {
	position: absolute;
	display: block;
	width: 85px;
	height: 34px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.lang .active {
	position: relative;
	display: table;
	width: 85px;
	height: 34px;
	line-height: 34px;
}

.lang .active span {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 34px;
	line-height: 34px;
	color: #f9cf28;
	font-size: 16px;
	font-family: PTSansNarrowBold;
	float: left;
}

.lang .active .img {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 34px;
	background: #25272c;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
}

.lang .active .img img {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.lang .sub {
	position: absolute;
	display: block;
	width: 83px;
	background: #16171a;
	border: 1px solid rgba(255,255,255,0.1);
	top: 40px;
	left: 15px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	transition:all 0.3s ease;
	border-bottom: none;
}

.lang .sub:before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 10px;
	top: -10px;
	left: 0;

}

.lang:hover .sub {
	visibility: visible;
	opacity: 1;
	left: -5px;
}

.lang .sub a {
	position: relative;
	display: block;
	width: 73px;
	height: 34px;
	line-height: 34px;
	padding: 5px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.lang .sub a:hover {
	background: #ffffff0d;
}

.lang .sub a span {
	position: relative;
	display: inline-block;
	width: 38px;
	height: 34px;
	line-height: 34px;
	color: #f9cf28;
	font-size: 16px;
	font-family: PTSansNarrowBold;
	float: left;
}

.lang .sub a .img {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 34px;
	background: #25272c;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	float: left;
}

.lang .sub a .img img {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
/*========================================*/
/*========================================*/
/*========================================*/
.header {
	height: 530px;
	background: url(../images/bg1.jpg) no-repeat center top;
}

.header #inner {
	height: 530px;
}

.logo {
	position: absolute;
	display: block;
	width: 356px;
	height: 215px;
	top: 69px;
    left: 423px;
	background: url(../images/logo.png) no-repeat;
	-webkit-filter:brightness(1.2); 
	-moz-filter:brightness(1.2); 
	-o-filter:brightness(1.2); 
	filter:brightness(1.2); 
	opacity: 0;
}

.logo:hover {
	opacity: 1;
}

#status {
	position: absolute;
	display: block;
	width: 100%;
	height: 180px;
	bottom: 15px;
	text-align: center;
}

#status .progress {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 180px;
	margin: 0 25px;
}

#status .progress:before { 
    content:''; 
    background:url(../images/null.png) no-repeat; 
    position:absolute; 
    width:140px; 
    height:140px;  
    top:0;
    left: 0;
    right: 0;
    margin: auto;
}

#status .progress svg { 
    height:100%; 
    display:block; 
}

#status .circle { 
    position:absolute; 
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:1; 
}

#status .online {
	position: absolute;
	display: table;
	width: 120px;
	top: 35px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#status .online span {
    position: relative;
    display: block;
    margin-bottom: 3px;
    color: #ffffff;
	font-size: 36px;
	font-family: Raleway-Black;
}

#status .online p {
	font-family: Raleway-Regular;
	color: #ffde00;
	font-size: 14px;
}

#status .slink {
    position: absolute;
    display: block;
    color: #ffde00;
    font-size: 14px;
    font-family: Raleway-SemiBold;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: auto;
    
}

#status .slink a {
	color: #ffde00;
    font-size: 14px;
    font-family: Raleway-SemiBold;
	border-bottom: 1px solid #ffc018;
}

#status .slink a:hover {
	border-bottom: 1px solid rgba(255,255,255,0);
	color: #c6ff2b;
}
/*========================================*/
/*========================================*/
/*========================================*/
.single {
	padding: 40px 0;
}

.general_title {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto 30px;
}

.general_title span {
	position: relative;
	display: block;
	color: #ffde00;
	font-size: 30px;
	font-family: Raleway-Black;
	margin: 0 auto 3px;
}

.general_title p {
	position: relative;
	display: block;
	color: #fffbe2;
	font-size: 18px;
	font-family: Raleway-Black;
}

.content {
	position: relative;
	display: table;
	width: 100%;
	margin: 0 auto;
}

.content .news {
	position: relative;
	display: inline-block;
	float: left;
	width: 700px;
	height: 320px;
	background: url(../images/news.png) no-repeat;
}

.content .news .title {
	position: relative;
	display: block;
	width: 600px;
	margin: 0 auto;
	padding-top: 30px;
	color: #ffde00;
	font-size: 24px;
	font-family: Raleway-Black;
}

.content .news .date {
	position: relative;
	display: block;
	width: 600px;
	margin: 2px auto 0;
	color: #fffbe2;
	font-size: 14px;
	font-family: Raleway-Regular;
}

.content .news .text {
	position: relative;
	display: block;
	width: 600px;
	margin: 15px auto 0;
	color: #ffffff;
	font-size: 14px;
	font-family: Raleway-Regular;
	line-height: 25px;
}

.content .news .info {
	position: relative;
	display: block;
	width: 600px;
	margin: 15px auto 0;
}

.content .news .info a {
	position: relative;
	display: inline-block;
	color: #ffde00;
	font-size: 14px;
	border-bottom: 1px solid #ffde00;
	font-family: Raleway-Bold;
}

.content .news .info a:hover {
	border-bottom: 1px solid rgba(0,0,0,0);
}

.content .side_news {
	position: relative;
	display: inline-block;
	float: right;
	width: 475px;
	height: 320px;
}

.content .side_news .item:nth-child(1) {
	position: relative;
	display: block;
	width: 475px;
	height: 150px;
	margin: 0 auto 20px;
	background: url(../images/side-news-1.png) no-repeat;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

.content .side_news .item:nth-child(2) {
	position: relative;
	display: block;
	width: 475px;
	height: 150px;
	margin: 0 auto;
	background: url(../images/side-news-2.png) no-repeat;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

.content .side_news .item .title {
	position: relative;
	display: block;
	width: 345px;
	margin: 0 auto;
	color: #ffde00;
	font-size: 18px;
	font-family: Raleway-Black;
	padding-top: 55px;
}

.content .side_news .item .text {
	position: relative;
	display: block;
	width: 345px;
	margin: 7px auto 0;
	color: #ffffff;
	font-size: 14px;
	font-family: Raleway-Regular;
}

.content .side_news .item:hover {
	box-shadow: 0 0 20px rgba(255,255,255,0.2);
}
/*========================================*/
/*========================================*/
/*========================================*/
.side {
	height: 530px;
	background: url(../images/bg2.jpg) no-repeat center top;
}

.side_content {
	position: relative;
	display: block;
	width: 100%;
	height: 350px;
	margin: 0 auto;
	top: 110px;
}

.top_player {
	position: absolute;
	display: block;
	width: 324px;
	top: 0;
	left: 74px;
}

.top_player .title {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	font-family: OranienbaumRegular;
	color: #ffd35c;
	font-size: 24px;
	margin: 0 auto 15px;
}

.top_player table {
	width: 324px;
}

.top_player tr {
	position: relative;
	display: table;
	width: 324px;
	margin: 0 auto;
}

.top_player tr th {
	position: relative;
	display: inline-block;
	float: left;
	color: #ffefcf;
	font-size: 12px;
	font-family: PTSansNarrow;
	font-weight: normal;
	margin-bottom: 5px;
	position: relative;
}

.top_player tr td {
	position: relative;
	display: inline-block;
	float: left;
	font-size: 12px;
	font-family: PTSansNarrow;
	background: rgba(0,0,0,0.3);
	padding: 3px 0;
	margin: 0 auto 3px;
}

.top_player tr td:nth-child(1) {
	color: #6f7b7d;
}
.top_player tr td:nth-child(2) {
	color: #ffd78b;
}
.top_player tr td:nth-child(3) {
	color: #ffffff;
}
.top_player tr td:nth-child(4) {
	color: #ffffff;
}
.top_player tr td:nth-child(5) {
	color: #ffffff;
}

.top_player tr:hover td {
	background: rgba(0,0,0,0.7);
}

.timer_block {
	position: absolute;
	display: block;
	width: 330px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.timer_block .title {
	position: relative;
	display: block;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	font-family: OranienbaumRegular;
	font-size: 16px;
}

.timer_block .text {
	position: relative;
	display: block;
	text-align: center;
	margin: 5px auto 0;
	color: #ffd303;
	font-family: OranienbaumRegular;
	font-size: 102px;
	font-weight: bold;
}

.second-my-content {
	position: relative;
	display: block;
	width: 327px;
	height: 105px;
	background: url(../images/timer.png) no-repeat;
	text-align: center;
	margin: -10px auto 0;
}

.second-my-content .result {
	position: absolute;
	display: block;
	width: 100%;
	height: 55px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.second-my-content .item {
	position: relative;
	display: inline-block;
	margin: 0 4px;
}

.second-my-content .item .items {
	position: relative;
	display: block;
	color: #fff6ce;
	font-size: 48px;
	font-family: OranienbaumRegular;
	line-height: 55px;
}

.second-my-content .item .name {
	position: absolute;
	display: block;
	bottom: -7px;
	color: #81807b;
	font-size: 12px;
	width: 100%;
	text-align: center;
	text-decoration: underline;
}

.second-my-content .item .dot {
	position: relative;
	display: block;
	color: #fff6ce;
	font-size: 48px;
	font-family: OranienbaumRegular;
	line-height: 55px;
}

.register {
	position: relative;
	display: block;
	width: 290px;
	height: 53px;
	line-height: 53px;
	text-align: center;
	color: #0b0d0e;
	font-size: 18px;
	font-family: OranienbaumRegular;
	background: #ffde00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	margin: 15px auto 0;
}

.register:hover {
	background: #ff8100;
}

.shares_block {
	position: absolute;
	display: block;
	width: 430px;
	top: 0;
	right: 0;
}

.shares_block .title {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	font-family: OranienbaumRegular;
	color: #ffd35c;
	font-size: 24px;
	margin: 0 auto 20px;
}

.shares_block .item {
	position: relative;
	display: block;
	width: 330px;
	height: 61px;
	margin: 0 auto 4px;
	padding-left: 100px;
}

.shares_block .item:nth-child(1) {
	background: url(../images/share.png) no-repeat center,
				url(../images/ico-1.png) no-repeat center left 20px;
}
.shares_block .item:nth-child(2) {
	background: url(../images/share.png) no-repeat center,
				url(../images/ico-2.png) no-repeat center left 20px;
}
.shares_block .item:nth-child(3) {
	background: url(../images/share.png) no-repeat center,
				url(../images/ico-3.png) no-repeat center left 20px;
}
.shares_block .item:nth-child(4) {
	background: url(../images/share.png) no-repeat center,
				url(../images/ico-4.png) no-repeat center left 20px;
}

.shares_block .item span {
	position: relative;
	display: block;
	color: #ffe9ac;
	font-size: 16px;
	font-family: OranienbaumRegular;
	padding-top: 14px;
}

.shares_block .item span b {
	font-weight: normal;
	color: #ffba00;
}
/*========================================*/
/*========================================*/
/*========================================*/
.media {
	height: 645px;
	background: url(../images/bg3.jpg) no-repeat center top;
	padding-top: 40px;
}

.media_content {
	position: relative;
	display: table;
	width: 100%;
	margin: 40px auto 0;
}

.media_left {
	position: relative;
	display: inline-block;
	float: left;
	width: 698px;
	height: 348px;
	background: #0b0d0e;
	border: 1px solid #4a463a;
}

.media_left iframe {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.media_right {
	position: relative;
	display: inline-block;
	float: right;
	width: 470px;
	height: 350px;
}

.media_right .item {
	position: relative;
	display: block;
	width: 468px;
	height: 148px;
	background: #0b0d0e;
	border: 1px solid #4a463a;
	margin: 0 auto;
}

.media_right .item iframe {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.media_right .item_text {
	position: relative;
	display: block;
	line-height: 29px;
	margin: 0 auto;
	color: #ffd303;
	font-size: 12px;
	font-family: Raleway-Medium;
}

.media_send {
	position: relative;
	display: block;
	width: 100%;
	height: 61px;
	margin: 65px auto 0;
	color: #ffd303;
	font-size: 16px;
	font-family: Raleway-Bold;
}

.media_send span {
	position: relative;
	display: block;
	color: #fefefe;
	font-size: 36px;
	font-family: Raleway-Black;
}

.media_send .media_btn {
	position: absolute;
	display: block;
	width: 290px;
	height: 53px;
	line-height: 55px;
	text-align: center;
	color: #0b0d0e;
	font-size: 18px;
	font-family: OranienbaumRegular;
	background: #ffde00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.media_btn:hover {
	background: #ff8100;
}
/*========================================*/
/*========================================*/
/*========================================*/
#send_mail {
	position: relative;
	display: table;
	width: 100%;
	margin: 0 auto;
}

#send_mail .send_input {
	position: relative;
	display: inline-block;
	float: left;
	width: 878px;
	height: 70px;
	background: url(../images/send.png) no-repeat;
}

#send_mail .send_input .text {
	position: absolute;
	display: block;
	width: 240px;
	height: 70px;
	top: 0;
	right: 0;
	padding-left: 45px;
	background: url(../images/ico-send.png) no-repeat center left;
}

#send_mail .send_input .text span {
	position: relative;
	display: block;
	color: #fffad9;
	font-size: 12px;
	font-family: Raleway-Medium;
	padding-top: 13px;
}

#send_mail .send_input input {
	position: absolute;
	display: block;
	width: 530px;
	height: 70px;
	top: 0;
	left: 45px;
	background: none;
	border: none;
	outline: none;
	color: #ffde00;
	font-size: 14px;
	font-family: Raleway-Medium;
}

#send_mail input.ok {
	position: relative;
	display: inline-block;
	float: right;
	width: 290px;
	height: 53px;
	line-height: 55px;
	text-align: center;
	color: #0b0d0e;
	font-size: 18px;
	font-family: OranienbaumRegular;
	background: #ffde00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: none;
	outline: none;
	-webkit-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	transition:all 0.3s ease;
	cursor: pointer;
	top: 9px;
}

#send_mail input.ok:hover {
	background: #ff8100;
}
/*========================================*/
/*========================================*/
/*========================================*/
.footer {
	height: 140px;
	background: url(../images/bg4.jpg) no-repeat center top;
}

.footer #inner {
	height: 140px;
}

.banner {
	position: absolute;
	display: inline-block;
	height: 31px;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.banner li {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.copyright {
	position: absolute;
	display: block;
	width: 630px;
	text-align: center;
	top: 40px;
	left: 0;
	right: 0;
	margin: auto;
	color: #ffecec;
	font-size: 12px;
}

.coolness {
	position: absolute;
	display: block;
	width: 91px;
	height: 29px;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: url(../images/coolness.png) no-repeat;
}

.coolness:hover {
	opacity: 0.7;
}
/*========================================*/
/*========================================*/
/*========================================*/
#wrapper.about {
	margin-top: -220px;
}
.about_content {
	position: relative;
	display: table;
	width: 1128px;
	padding: 40px 35px 10px;
	background: #0b0d0e;
	border: 1px solid #4a463a;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 0 auto 40px;
	overflow: hidden;
}

.about_content:before {
	content: '';
	position: absolute;
	display: block;
	width: 1px;
	height: 100%;
	top: 0;
	left: 370px;
	background: #2a3134;
	margin-top: 40px;
}

ul.tabs {
	position: relative;
	display: inline-block;
	float: left;
	width: 335px;
}

ul.tabs .title {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto 22px;
}

ul.tabs .title span {
	position: relative;
	display: block;
	color: #ffde00;
	font-size: 14px;
	font-family: Raleway-Black;
}

ul.tabs .title p {
	position: relative;
	display: block;
	color: #dfdfdf;
	font-size: 12px;
	font-family: Raleway-Regular;
	margin: 3px auto 0;
}

ul.tabs li {
	position: relative;
	display: block;
	margin-bottom: 4px;
}

ul.tabs li a {
	position: relative;
	display: block;
	width: 320px;
	height: 50px;
	background: #161819;
}

ul.tabs li a .img {
	position: absolute;
	display: block;
	width: 42px;
	height: 42px;
	top: 0;
	left: 7px;
	bottom: 0;
	margin: auto;
	background: url(../images/img.png) no-repeat;
	overflow: hidden;
}

ul.tabs li a .img img {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	-webkit-transition:all 0.2s ease; 
	-o-transition:all 0.2s ease; 
	-moz-transition:all 0.2s ease; 
	transition:all 0.2s ease;
}

ul.tabs li a .name {
	position: relative;
	display: block;
	margin-left: 67px;
	color: #ffc14a;
	font-size: 12px;
	font-family: Raleway-Black;
	padding-top: 11px;
}

ul.tabs li a .desc {
	position: relative;
	display: block;
	margin-left: 67px;
	color: #ffefd0;
	font-size: 11px;
	font-family: Raleway-Regular;
	top: 2px;
}

ul.tabs li a:hover {
	background: #1b1d1f;
}

ul.tabs li a:hover .img img {
	-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

ul.tabs li a:before {
	content: '';
	position: absolute;
	display: block;
	width: 8px;
	height: 48px;
	background: url(../images/tab.png) no-repeat center;
	top: 0;
	right: -5px;
	bottom: 0;
	margin: auto;
	-webkit-transition:all 0.2s ease; 
	-o-transition:all 0.2s ease; 
	-moz-transition:all 0.2s ease; 
	transition:all 0.2s ease;
	visibility: hidden;
	opacity: 0;
}

ul.tabs li.active a:before,
ul.tabs li a:hover:before {
	visibility: visible;
	opacity: 1;
}

.side_about {
	position: relative;
	display: inline-block;
	float: right;
	width: 770px;
}

.side_about .about_item {
	position: relative;
	display: none;
	width: 100%;
	margin: 0 auto;
}

.side_about .about_item.active {
	display: block;
}

.side_about .about_item .title {
	position: relative;
	display: block;
	margin: 0 auto 25px;
	color: #ffffff;
	font-size: 14px;
	font-family: Raleway-Black;
}

.side_about .about_item .text {
	position: relative;
	display: block;
	margin: 0 auto 25px;
	color: #eaeaea;
	font-size: 14px;
	font-family: Raleway-Regular;
	line-height: 22px;
}
/*========================================*/
/*========================================*/
/*========================================*/
.reg_form {
	position: relative;
	display: table;
	width: 905px;
	margin: 0 auto;
}

.reg_form .item {
	position: relative;
	display: inline-block;
	width: 422px;
	height: 64px;
	overflow: hidden;
	float: left;
	margin: 0 15px 6px;
}

.reg_form .item input::-webkit-input-placeholder { 
	color:#ffffff; 
}
.reg_form .item input:-moz-placeholder { 
	color:#ffffff; 
}
.reg_form .item input::-moz-placeholder { 
	color:#ffffff;  
}
.reg_form .item input:-ms-input-placeholder { 
	color:#ffffff; 
}

.reg_form .item input {
	position: relative;
	display: block;
	width: 370px;
	height: 64px;
	background: url(../images/input.png) no-repeat;
	color: #ffffff;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 20px;
	font-family: Raleway-Medium;
}

.reg_form .item select {
	position: relative;
	display: block;
	width: 422px;
	height: 64px;
	background: url(../images/select.png) no-repeat center right 20px, url(../images/input.png) no-repeat;
	color: #ffffff;
	font-size: 14px;
	padding-left: 32px;
	font-family: Raleway-Medium;
	-webkit-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none !important;
	-moz-appearance: none;
}

option {
	background: #000;
}

.reg_form .item input[type="submit"] {
	position: relative;
	display: block;
	width: 290px;
	height: 53px;
	line-height: 55px;
	text-align: center;
	color: #0b0d0e;
	font-size: 18px;
	font-family: OranienbaumRegular;
	background: #ffde00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	margin: 0 auto;
	-webkit-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	transition:all 0.3s ease;
	cursor: pointer;
	top: 5px;
}

.reg_form .item input[type="submit"]:hover {
	background: #ff8100;
}

.reg_form .item .code {
	position: absolute;
	display: block;
	width: 150px;
	height: auto;
	top: 0;
	left: 35px;
	bottom: 0;
	margin: auto;
}
/*========================================*/
/*========================================*/
/*========================================*/
#popup {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	overflow-y: auto;
	opacity: 0;
	z-index: 99999;
}

.popup_fade {
	position: fixed;
	display: block;
	width: 98%;
	height: 98%;
	top: 0;
	left: 0;
	opacity: 0;
}

.popup_content {
	position: absolute;
	display: block;
	width: 480px;
	padding: 30px 0;
	background: #0b0d0e;
	border: 1px solid rgba(74,70,58,0.5);
	top: -20%;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.popup_close {
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/close.png) no-repeat;
	top: -15px;
    right: -15px;
}

.popup_close:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.popup_content .title {
	position: relative;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.popup_content .title span {
	position: relative;
	display: block;
	color: #ffde00;
	font-size: 30px;
	font-family: Raleway-Black;
}

.popup_content .title p {
	position: relative;
	display: block;
	color: #fffbe2;
	font-size: 18px;
	font-family: Raleway-Black;
	top: -2px;
}

#popup_send {
	position: relative;
	display: block;
	width: 422px;
	margin: 22px auto 0;
}

#popup_send input::-webkit-input-placeholder { 
	color:#ffffff; 
}
#popup_send input:-moz-placeholder { 
	color:#ffffff; 
}
#popup_send input::-moz-placeholder { 
	color:#ffffff;  
}
#popup_send input:-ms-input-placeholder { 
	color:#ffffff; 
}

#popup_send input[type="text"],
#popup_send input[type="email"] {
	position: relative;
	display: block;
	width: 370px;
	height: 64px;
	background: url(../images/input.png) no-repeat;
	color: #ffffff;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 20px;
	font-family: Raleway-Medium;
	margin: 0 auto 6px;
}

#popup_send input[type="submit"] {
	position: relative;
	display: block;
	width: 290px;
	height: 53px;
	line-height: 55px;
	text-align: center;
	color: #0b0d0e;
	font-size: 18px;
	font-family: OranienbaumRegular;
	background: #ffde00;
	-webkit-border-radius: 26px;
	-moz-border-radius: 26px;
	border-radius: 26px;
	margin: 0 auto;
	-webkit-transition:all 0.3s ease; 
	-o-transition:all 0.3s ease; 
	-moz-transition:all 0.3s ease; 
	transition:all 0.3s ease;
	cursor: pointer;
	top: 10px;
}

#popup_send input[type="submit"]:hover {
	background: #ff8100;
}
/*========================================*/
/*========================================*/
/*========================================*/
.loaded {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #15191f url(../images/load.gif) no-repeat center;
}