{% extends 'struct.html' %}

{% block content %}
<div id="wrapper" class="about">
    <div id="inner">
        <div class="about_content wow animated05 zoomIn">
            <ul class="tabs">
                <div class="title">
                    <span>{{phrase("about_nav_title")}}</span>
                    <p>{{phrase("about_nav_desc")}}</p>
                </div>
                <li class="active">
                    <a href="#about-1">
                        <div class="img"><img src="{{template}}/images/ico-4.png" alt=""></div>
                        <div class="name">{{phrase("about_tab_concept")}}</div>
                        <div class="desc">{{phrase("about_tab_concept_desc")}}</div>
                    </a>
                </li>
                <li>
                    <a href="#about-2">
                        <div class="img"></div>
                        <div class="name">{{phrase("about_tab_rates")}}</div>
                        <div class="desc">{{phrase("about_tab_rates_desc")}}</div>
                    </a>
                </li>
                <li>
                    <a href="#about-3">
                        <div class="img"></div>
                        <div class="name">{{phrase("about_tab_features")}}</div>
                        <div class="desc">{{phrase("about_tab_features_desc")}}</div>
                    </a>
                </li>
            </ul>

            <div class="side_about">
                <div class="about_item active" id="about-1">
                    <div class="title">{{phrase("about_concept_title")}}</div>
                    <div class="text">{{phrase("about_concept_text")|raw}}</div>
                    <div class="title">{{phrase("about_start_title")}}</div>
                    <div class="text">{{phrase("about_start_text")|raw}}</div>
                </div>

                <div class="about_item" id="about-2">
                    <div class="title">{{phrase("about_rates_title")}}</div>
                    <div class="text">
                        {% for server in getServerAll() %}
                        {{server.getName()}} x{{server.getRateExp()}} - {{server.chronicle}}<br>
                        {% endfor %}
                    </div>
                    <div class="title">{{phrase("about_enchant_title")}}</div>
                    <div class="text">{{phrase("about_enchant_text")|raw}}</div>
                </div>

                <div class="about_item" id="about-3">
                    <div class="title">{{phrase("about_features_title")}}</div>
                    <div class="text">{{phrase("about_features_text")|raw}}</div>
                    <div class="title">{{phrase("about_security_title")}}</div>
                    <div class="text">{{phrase("about_security_text")|raw}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
