<div id="wrapper" class="footer">
    <div id="inner">
        <ul class="banner wow animated05 fadeInUp">
            <li><img src="{{template}}/images/banner.png" alt="banner"></li>
            <li><img src="{{template}}/images/banner.png" alt="banner"></li>
        </ul>

        <div class="copyright wow animated05 fadeInUp">
            {{phrase("footer_disclaimer")|raw}}<br>
            {{phrase("footer_rights")}}
        </div>

        <a href="/" class="coolness wow animated05 fadeInUp"></a>
    </div>
</div>
