<div id="wrapper" class="nav">
    <div id="inner">
        <ul class="navi wow animated05 slideInDown">
            <li>
                <a href="/">
                    <span>{{phrase("nav_home")}}</span>
                    <p>{{phrase("nav_home_desc")}}</p>
                </a>
            </li>
            <li>
                <a href="{{alias('registration_user')}}">
                    <span>{{phrase("nav_registration")}}</span>
                    <p>{{phrase("nav_registration_desc")}}</p>
                </a>
            </li>
            <li>
                <a href="/download/">
                    <span>{{phrase("nav_files")}}</span>
                    <p>{{phrase("nav_files_desc")}}</p>
                </a>
            </li>
            <li>
                <a href="/about">
                    <span>{{phrase("nav_about")}}</span>
                    <p>{{phrase("nav_about_desc")}}</p>
                </a>
            </li>
            <li>
                <a href="/donate">
                    <span>{{phrase("nav_donate")}}</span>
                    <p>{{phrase("nav_donate_desc")}}</p>
                </a>
            </li>
            <li>
                <a href="/forum">
                    <span>{{phrase("nav_forum")}}</span>
                    <p>{{phrase("nav_forum_desc")}}</p>
                </a>
            </li>
        </ul>

        <a href="{{alias('main')}}" class="login wow animated05 slideInDown">{{phrase("nav_account")}}</a>

        {% include "lang.html" %}
    </div>
</div>
