{% extends 'struct.html' %}

{% block title %}
    {{ phrase('nav_files') }}
{% endblock %}

{% block content %}
    <section class="bg files">
        <div class="container">

            <h2 class="files__title">{{ phrase('files_page_title') }}</h2>
            <div class="switcher">
                <button class="button switcher__button active" type="button" data-index="1">
                    <span>Interlude</span>
                    <img class="button__bg" src="{{template}}/images/orange.webp" alt="button-bg"/>
                </button>
                <button class="button switcher__button" type="button" data-index="2">
                    <span>Classic</span>
                    <img class="button__bg" src="{{template}}/images/orange.webp" alt="button-bg"/>
                </button>
            </div>

            <div class="switcher-content active" data-index="1">
                <div class="files__content">
                    <div class="border files__block">
                        <div class="files__box">
                            <div class="files__wrapper">
                                <h5>{{ phrase('files_step_1_title') }}</h5>
                                <p class="files__box-subtitle">{{ phrase('files_step1_subtitle') }}</p>
                                <p class="files__box-text">{{ phrase('files_step1_text') }}</p>
                            </div>
                            <a class="button files__box-button white" href="{{alias('registration_user')}}">
                                <span>{{ phrase('files_step1_button') }}</span>
                                <img class="button__bg" src="{{template}}/images/green.webp" alt="button-bg"/>
                            </a>
                        </div>
                    </div>
                    <div class="border files__block">
                        {{ phrase('files_step2_subtitle')|raw }}
                    </div>
                    <div class="border files__block">
                       {{ phrase('files_step_3_title')|raw }}
                    </div>
                </div>

             </div>

            <div class="switcher-content" data-index="2">
                <div class="files__content files__content_secondary">
                    <div class="border files__block">
                        <div class="files__box">
                            <div class="files__wrapper">
                                <h5>Classic</h5>
                                <p class="files__box-subtitle">{{ phrase('files_classic_subtitle') }}</p>
                                <p class="files__box-text">{{ phrase('files_classic_text') }}</p>
                            </div>
                            <a class="button files__box-button white" href="#">
                                <span>{{ phrase('files_classic_button') }}</span>
                                <img class="button__bg" src="{{template}}/images/green.webp" alt="button-bg"/>
                            </a>
                        </div>
                    </div>

                    <div class="files__secondary-info">
                        <div class="border files__block">
                            <div class="files__box">
                                <div class="files__wrapper">
                                    <h5>{{ phrase('files_additional_title') }}</h5>
                                    <p class="files__box-subtitle">{{ phrase('files_additional_subtitle') }}</p>
                                    <p class="files__box-text">{{ phrase('files_additional_text') }}</p>
                                </div>
                                <div class="files__buttons">
                                    <a class="button files__box-button" href="#">
                                        <span>{{ phrase('files_patch_button') }}</span>
                                        <img class="button__bg" src="{{template}}/images/gray.webp" alt="button-bg"/>
                                    </a>
                                    <a class="button files__box-button" href="#">
                                        <span>{{ phrase('files_launcher_button') }}</span>
                                        <img class="button__bg" src="{{template}}/images/gray.webp" alt="button-bg"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
