<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__left">
            <a class="logo" href="/">
                <img class="logo__img" fetchpriority="high" src="{{template}}/images/logo-small.webp" alt="logo"/>
            </a>

            <div class="footer__descr">
                <span>{{ phrase('footer_brand_prefix') }} {{ "now"|date('Y') }}</span>
                <span>{{ phrase('footer_brand_location') }}</span>
            </div>

        </div>
        <div class="footer__block">
            <p class="footer__block-top">{{ phrase('footer_block_important') }}</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="/">{{ phrase('nav_home') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="https://forum.dion.town/forums/info-info-descricao-descripcion-perigraf.9/">{{ phrase('footer_link_about_description') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="https://forum.dion.town/forums/novosti-news-noticias-noticias-n-a.4/">{{ phrase('footer_link_news_updates') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="https://forum.dion.town/">{{ phrase('nav_forum') }}</a>
                </li>
            </ul>
        </div>

        <div class="footer__block">
            <p class="footer__block-top">{{ phrase('footer_block_account') }}</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="{{alias('registration_user')}}">{{ phrase('footer_link_create_account') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="{{alias('main')}}">{{ phrase('footer_link_account_dashboard') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="/support">{{ phrase('footer_link_restore_password') }}</a>
                </li>
            </ul>
        </div>
        <div class="footer__block">
            <p class="footer__block-top">{{ phrase('footer_block_for_users') }}</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="https://forum.dion.town/threads/polzovatelskoe-soglashenie.110/">{{ phrase('footer_link_user_agreement') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="https://forum.dion.town/threads/politika-konfidencialnosti.109/">{{ phrase('footer_link_privacy_policy') }}</a>
                </li>
            </ul>
        </div>
        <div class="footer__block">
            <p class="footer__block-top">{{ phrase('footer_block_support') }}</p>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="/support">{{ phrase('footer_link_ask_question') }}</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="/support">{{ phrase('footer_contact_mail') }}</a>
                </li>
            </ul>
        </div>

        <div class="footer__block">
            <p class="footer__block-top">{{ phrase('footer_block_subscribe') }}</p>
            <ul class="socials footer__socials">
                <li class="socials__item">
                    <a class="socials__link circle" href="https://discord.gg/diontown">
                        <svg width="19" height="15">
                            <use xlink:href="{{template}}/images/icons.svg#discord-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link circle" href="https://t.me/diontown">
                        <svg width="18" height="16">
                            <use xlink:href="{{template}}/images/icons.svg#tg-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link circle" href="https://www.youtube.com/@dion-town">
                        <svg width="20" height="14">
                            <use xlink:href="{{template}}/images/icons.svg#youtube-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link circle" href="https://instagram.com/dion.town">
                        <svg width="16" height="16">
                            <use xlink:href="{{template}}/images/icons.svg#inst-icon"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link circle" href="https://www.tiktok.com/@diontown">
                        <svg width="16" height="17">
                            <use xlink:href="{{template}}/images/icons.svg#tiktok-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</footer>
