<section class="game-start">
    <div class="container">
        <div class="line-top">
            <svg width="1920" height="45">
                <use xlink:href="{{template}}/images/icons.svg#line-1"></use>
            </svg>
        </div>

        <div class="game-start__content">
            <div class="game-start__register">
                <h3>{{ phrase('game_start_create_account_title') }}</h3>
                <a class="button game-start__top-button" href="https://dion.town/signup">
                    <span>{{ phrase('game_start_register_button') }}</span>
                    <img class="button__bg" src="{{template}}/images/green-4.webp" alt="button-bg"/>
                </a>
                <ul class="game-start__list">
                    <li class="game-start__block border">
                        <a class="game-start__link game-start__box" href="https://forum.dion.town/threads/podkljuchenie-k-serveru.158/#post-939">
                            <span>{{ phrase('game_start_question_launch') }}</span>
                            <svg width="24" height="24">
                                <use xlink:href="{{template}}/images/icons.svg#ps5"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="game-start__block border">
                        <a class="game-start__link game-start__box" href="https://forum.dion.town/threads/podkljuchenie-k-serveru.158/#post-939">
                            <span>{{ phrase('game_start_question_network') }}</span>
                            <svg width="24" height="24">
                                <use xlink:href="{{template}}/images/icons.svg#wi-fi"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="game-start__block border">
                        <a class="game-start__link game-start__box" href="https://forum.dion.town/threads/podkljuchenie-k-serveru.158/#post-939">
                            <span>{{ phrase('game_start_question_mac') }}</span>
                            <svg width="24" height="24">
                                <use xlink:href="{{template}}/images/icons.svg#apple"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="game-start__download">
                <h3>{{ phrase('game_start_download_title') }}</h3>
                <a class="button game-start__top-button" href="https://download.dion.town/DionTown.rar">
                    <span>{{ phrase('game_start_download_client_button') }}</span>
                    <img class="button__bg" src="{{template}}/images/orange-4.webp" alt="button-bg"/>
                </a>
                <p class="game-start__first-text">{{ phrase('game_start_download_time') }}</p>
                <p class="game-start__text">{{ phrase('game_start_download_alternatives') }}</p>

                <div class="game-start__buttons">
                    <a class="button white col game-start__button" href="https://download.dion.town/DionTown.rar">
                        <span class="button__top">
                            <svg width="20" height="20">
                                <use xlink:href="{{template}}/images/icons.svg#upload"></use>
                            </svg>
                            {{ phrase('game_start_ready_client_label') }}
                        </span>
                        <span>{{ phrase('game_start_mirror_label') }}</span>
                        <img class="button__bg" src="{{template}}/images/green-3.webp" alt="button-bg"/>
                    </a>
                    <a class="button white col game-start__button" href="https://drive.google.com/file/d/123Hj_J8kGycUxQVaDuVu2gB74cF3NCu3/view?usp=sharing">
                        <span class="button__top">
                            <svg width="20" height="20">
                                <use xlink:href="{{template}}/images/icons.svg#upload"></use>
                            </svg>
                            {{ phrase('game_start_ready_client_label') }}
                        </span>
                        <span>{{ phrase('game_start_mirror_label') }}</span>
                        <img class="button__bg" src="{{template}}/images/orange-3.webp" alt="button-bg"/>
                    </a>
                </div>

                <div class="game-start__clients border">
                    <div class="game-start__box">
                        <h6>{{ phrase('game_start_clients_title') }}</h6>
                        <p class="game-start__text">{{ phrase('game_start_clients_description') }}
                            <span>{{ phrase('game_start_clients_hint') }}</span></p>
                        <div class="game-start__buttons">
                            <a class="button white game-start__gray-button" href="https://download.dion.town/DionTownPatch.rar">
                                <span>{{ phrase('game_start_patch_button') }}</span>
                                <img class="button__bg" src="{{template}}/images/gray.webp" alt="button-bg"/>
                            </a>
                            <a class="button white game-start__gray-button" href="https://download.dion.town/Launcher.rar">
                                <span>{{ phrase('game_start_launcher_button') }}</span>
                                <img class="button__bg" src="{{template}}/images/gray.webp" alt="button-bg"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line-bottom">
            <svg width="1920" height="60">
                <use xlink:href="{{template}}/images/icons.svg#line-2"></use>
            </svg>
        </div>
    </div>
</section>
