	<section class="about">
		<div class="container">
			<h2 class="about__title">{{ phrase('about_title_main') }} <span>{{ phrase('about_title_highlight') }}</span></h2>
			<p class="about__subtitle">{{ phrase('about_subtitle') }}</p>
			<div class="about__content">

				<h4>{{ phrase('about_reasons_title_prefix') }} <br/>
					{{ phrase('about_reasons_title_suffix') }}</h4>
				<ul class="about__list">
					<li class="about__item active" data-index="1">
						<button class="about__item-button" data-index="1">
							<span>{{ phrase('about_tab_start') }}</span>
							<svg width="20" height="24">
								<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
							</svg>
						</button>
						<div class="about__wrapper">
							<p class="about__text">{{ phrase('about_tab_description_intro') }}</p>
							<div class="border about__block">
								<div class="swiper about__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
									</div>
									<div class="about__navigation">
										<button class="about__swiper-prev">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-left"></use>
											</svg>
										</button>
										<button class="about__swiper-next">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="about__item" data-index="2">
						<button class="about__item-button" data-index="2">
							<span>{{ phrase('about_tab_residency') }}</span>
							<svg width="20" height="24">
								<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
							</svg>
						</button>
						<div class="about__wrapper">
							<p class="about__text">{{ phrase('about_tab_description_res') }}</p>
							<div class="border about__block">
								<div class="swiper about__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
									</div>
									<div class="about__navigation">
										<button class="about__swiper-prev">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-left"></use>
											</svg>
										</button>
										<button class="about__swiper-next">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="about__item" data-index="3">
						<button class="about__item-button" data-index="3">
							<span>{{ phrase('about_tab_sieges') }}</span>
							<svg width="20" height="24">
								<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
							</svg>
						</button>
						<div class="about__wrapper">
							<p class="about__text">{{ phrase('about_tab_description_siege') }}</p>
							<div class="border about__block">
								<div class="swiper about__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
									</div>
									<div class="about__navigation">
										<button class="about__swiper-prev">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-left"></use>
											</svg>
										</button>
										<button class="about__swiper-next">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>

						</div>
					</li>
					<li class="about__item" data-index="4">
						<button class="about__item-button" data-index="4">
							<span>{{ phrase('about_tab_epics') }}</span>
							<svg width="20" height="24">
								<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
							</svg>
						</button>
						<div class="about__wrapper">
							<p class="about__text">{{ phrase('about_tab_description_epic') }}</p>
							<div class="border about__block">
								<div class="swiper about__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
									</div>
									<div class="about__navigation">
										<button class="about__swiper-prev">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-left"></use>
											</svg>
										</button>
										<button class="about__swiper-next">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>

						</div>
					</li>
					<li class="about__item" data-index="5">
						<button class="about__item-button" data-index="5">
							<span>{{ phrase('about_tab_olympiad') }}</span>
							<svg width="20" height="24">
								<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
							</svg>
						</button>
						<div class="about__wrapper">
							<p class="about__text">{{ phrase('about_tab_description_olymp') }}</p>
							<div class="border about__block">
								<div class="swiper about__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
									</div>
									<div class="about__navigation">
										<button class="about__swiper-prev">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-left"></use>
											</svg>
										</button>
										<button class="about__swiper-next">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>

						</div>
					</li>
					<li class="about__item" data-index="6">
						<button class="about__item-button" data-index="6">
							<span>{{ phrase('about_tab_keep_interest') }}</span>
							<svg width="20" height="24">
								<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
							</svg>
						</button>
						<div class="about__wrapper">
							<p class="about__text">{{ phrase('about_tab_description_interes') }}</p>
							<div class="border about__block">
								<div class="swiper about__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
										<div class="swiper-slide">
											<img class="about__image" src="{{template}}/images/about-image.webp" alt="image"/>
										</div>
									</div>
									<div class="about__navigation">
										<button class="about__swiper-prev">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-left"></use>
											</svg>
										</button>
										<button class="about__swiper-next">
											<svg width="30" height="40">
												<use xlink:href="{{template}}/images/icons.svg#arrow-type-2-right"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>

						</div>
					</li>

				</ul>

				<div class="about__buttons">
					<a class="button about__button" href="https://forum.dion.town/forums/info-info-descricao-descripcion-perigraf.9/">
						<span>{{ phrase('about_button_full_description') }}</span>
						<img class="button__bg" src="{{template}}/images/orange-2.webp" alt="button-bg"/>
					</a>
					<a class="button about__button" href="https://youtu.be/cnryyPG1DfM?si=t5S5bbxeJ700aMIv">
						<span>{{ phrase('about_button_video_review') }}</span>
						<img class="button__bg" src="{{template}}/images/green-2.webp" alt="button-bg"/>
					</a>
				</div>
			</div>
		</div>
	</section>
