<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo"><img src="{{template}}/images/logo-mark.svg" alt="DION TOWN"></div>
      <div class="footer__col">
        <h4>{{ phrase("fnav_t_1") }}</h4>
        <ul>
          <li><a href="/about">{{ phrase("nav_desc") }}</a></li>
          <li><a href="/forum">Forum</a></li>
          <li><a href="/stats">{{ phrase("nav_statistic") }}</a></li>
          <li><a href="#">{{ phrase("nav_rules") }}</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>{{ phrase("fnav_t_2") }}</h4>
        <ul>
          <li><a href="{{ alias('main') }}">{{ phrase("nav_auth") }}</a></li>
          <li><a href="{{ alias('registration_user') }}">{{ phrase("nav_registration") }}</a></li>
          <li><a href="/#files">{{ phrase("nav_files") }}</a></li>
          <li><a href="/#spack">{{ phrase("nav_donate") }}</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>{{ phrase("fnav_t_3") }}</h4>
        <ul>
          <li><a href="/forum">Forum</a></li>
          <li><a href="#">Discord</a></li>
          <li><a href="#">Telegram</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>{{ phrase_array({ 'ru': 'Информация', 'en': 'Information' }) }}</h4>
        <ul>
          <li><a href="#">{{ phrase_array({ 'ru': 'Политика конфиденциальности', 'en': 'Privacy policy' }) }}</a></li>
          <li><a href="#">{{ phrase_array({ 'ru': 'Условия использования', 'en': 'Terms of use' }) }}</a></li>
          <li><a href="#">{{ phrase_array({ 'ru': 'Политика возврата', 'en': 'Refund policy' }) }}</a></li>
        </ul>
      </div>
      <div class="footer__legal">
        <p>© 2023-2026 DION TOWN</p>
        <p>{{ phrase_array({ 'ru': 'Тестовый сервер Lineage 2. Все права принадлежат NCSOFT.', 'en': 'This is a test Lineage 2 server. All rights belong to NCSOFT.' }) }}</p>
        <p>{{ phrase_array({ 'ru': 'Проектный сайт собран на SphereWeb.', 'en': 'Project site powered by SphereWeb.' }) }}</p>
      </div>
    </div>
  </div>
</footer>
