{% set active_lang = lang_active() %}
{% set active_flag = 'flag-en.svg' %}
{% if active_lang.lang == 'ru' %}
  {% set active_flag = 'flag-ru.svg' %}
{% elseif active_lang.lang == 'ua' %}
  {% set active_flag = 'flag-ua.svg' %}
{% endif %}

<header class="header" id="header">
  <div class="header__inner">
    <a href="/" class="logo"><img src="{{template}}/images/logo-mark.svg" alt="DION TOWN"></a>
    <nav class="nav">
      <div class="nav__item"><a class="nav__link" href="/">{{ phrase("nav_home") }}</a></div>
      <div class="nav__item"><a class="nav__link" href="{{ alias('registration_user') }}">{{ phrase("nav_registration") }}</a></div>
      <div class="nav__item has-sub">
        <button class="nav__link">{{ phrase("nav_about") }} <img class="caret" src="{{template}}/images/ic-caret.svg" alt=""></button>
        <div class="nav__sub">
          <a href="/about">{{ phrase("nav_desc") }}</a>
          <a href="/forum">Forum</a>
          <a href="/stats">{{ phrase("nav_statistic") }}</a>
          <a href="#">{{ phrase("nav_rules") }}</a>
        </div>
      </div>
      <div class="nav__item"><a class="nav__link" href="/#files">{{ phrase("nav_files") }}</a></div>
      <div class="nav__item"><a class="nav__link" href="/#spack">{{ phrase("nav_donate") }}</a></div>
      <div class="nav__item has-sub">
        <button class="nav__link">{{ phrase_array({ 'ru': 'Сообщество', 'en': 'Community' }) }} <img class="caret" src="{{template}}/images/ic-caret.svg" alt=""></button>
        <div class="nav__sub">
          <a href="/forum">Forum</a>
          <a href="#">Discord</a>
          <a href="#">Telegram</a>
        </div>
      </div>
    </nav>
    <div class="lang">
      <img class="flag" src="{{template}}/images/{{active_flag}}" alt="">
      {{ active_lang.lang }}
      <img class="caret" src="{{template}}/images/ic-caret.svg" alt="">
      <div class="lang__sub">
        {% for lang in getAllowLang() %}
          {% set lang_flag = 'flag-en.svg' %}
          {% if lang.lang == 'ru' %}
            {% set lang_flag = 'flag-ru.svg' %}
          {% elseif lang.lang == 'ua' %}
            {% set lang_flag = 'flag-ua.svg' %}
          {% endif %}
          <a href="/user/change/lang/{{lang.lang}}">
            <img class="flag" style="width:18px;height:18px" src="{{template}}/images/{{lang_flag}}" alt="{{lang.name}}">
            {{ lang.lang }}
          </a>
        {% endfor %}
      </div>
    </div>
    <a href="{{ alias('main') }}" class="btn btn--red btn--cta header__cta"><span>{{ phrase_array({ 'ru': 'Кабинет', 'en': 'Dashboard' }) }}</span></a>
    <button class="menu-btn" id="menuBtn" aria-label="{{ phrase_array({ 'ru': 'Меню', 'en': 'Menu' }) }}">&#9776;</button>
  </div>
</header>

<nav class="mobile-nav" id="mobileNav">
  <button class="mobile-nav__close" id="mobileNavClose" aria-label="{{ phrase_array({ 'ru': 'Закрыть', 'en': 'Close' }) }}">&#10005;</button>
  <div class="mobile-nav__links">
    <a href="/">{{ phrase("nav_home") }}</a>
    <a href="{{ alias('registration_user') }}">{{ phrase("nav_registration") }}</a>
    <a href="/about">{{ phrase("nav_desc") }}</a>
    <a href="/#files">{{ phrase("nav_files") }}</a>
    <a href="/#spack">{{ phrase("nav_donate") }}</a>
    <a href="/forum">Forum</a>
    <a href="/stats">{{ phrase("nav_statistic") }}</a>
  </div>
  <div class="mobile-nav__social">
    <a href="#"><img src="{{template}}/images/soc-discord.svg" alt="Discord"></a>
    <a href="#"><img src="{{template}}/images/soc-telegram.svg" alt="Telegram"></a>
    <a href="#"><img src="{{template}}/images/soc-tiktok.svg" alt="TikTok"></a>
    <a href="#"><img src="{{template}}/images/soc-vk.svg" alt="VK"></a>
    <a href="#" class="ig"><img class="pad" src="{{template}}/images/soc-instagram.svg" alt="Instagram"></a>
    <a href="#" class="fb"><img class="pad" src="{{template}}/images/soc-facebook.svg" alt="Facebook"></a>
  </div>
  <a href="{{ alias('main') }}" class="btn btn--red mobile-nav__cab"><span>{{ phrase("nav_account") }}</span></a>
</nav>
